
body {

    background-color: #14171C;
    color: aliceblue;
}
  
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


#main_title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
    /* border-bottom-width: 3px;
    border-bottom-style: solid; */
}

#div_spacer {
    margin-bottom: 5em;
}