h1 {
    color: #faf8f5;
    padding: 1rem;

}
.post {
    background: rgb(68, 55, 55, 0.6);
    margin: 3rem 26px;
    padding: .2em;
    border: 1px solid #ccc;
}

.postLinkStyles {
    text-decoration: none;
    color: #faf8f5;

}

p {
    position: relative;
    margin-left: 4%;
    margin-right:4%;
    padding: 0.3rem;
}

#noPost {
    position: relative;
    left: 44%;
}