h1 {
    color: #faf8f5;
    padding: 1rem;
    font-family: 'Roboto' sans-serif;

}
.post {
    background: rgb(68, 55, 55, 0.6);
    margin: 3rem 26px;
    padding: .2em;
    border: 1px solid #ccc;
    font-family: 'Roboto' sans-serif;
}

.postLinkStyles {
    text-decoration: none;
    color: #faf8f5;

}

p {
    position: relative;
    margin-left: 4%;
    margin-right:4%;
    padding: 0.3rem;
    font-family: 'Roboto' sans-serif;

}

#noPost {
    position: relative;
    left: 44%;
}

.buttonStyles {
    margin: .5em;
    font-size: 1em;
}

