html {
    height: 100vh;
}

body {
    min-height: 140%;
    padding: 0;
}
.eventPost-Container {
    width: 100vw;
    height: 120vh;
    position: absolute;
    left: 39%
    
}

.divStyles {
    display: grid;
    width: 20vw;
}

.inputStyles {
    width: 30vw;
    margin: .5em;
}

.labelStyles {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 4px;
    padding-top: 1rem;
}

.textAreaStyles {
    height: 200px;
    margin: .5em;
    width: 50vw;
}

/* Individual Elements */

.date {
    width: 7rem !important;
}

#Cat {
    margin: 0.5em;
    width: 5rem;
}

#button {
    margin: 1em;
}